@use '../../../styles/variables' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.#{vars.$bcgov-prefix}--header__global {

  button.#{vars.$bcgov-prefix}--header__action {
    border-radius: 0;
  }

  button.#{vars.$bcgov-prefix}--header__action--active {
    background: var(--#{vars.$bcgov-prefix}-layer-02);
    border: 0;
  }

  .profile-action-button {
    width: fit-content;
    max-width: none;
    color: colors.$white;
    padding: 0.75rem;
    margin-left: 0.5rem;
    display: flex;
    gap: 0.5rem;
        
    &:focus {
      outline: 0;
      border: none;
    }
        
    &.#{vars.$bcgov-prefix}--header__action--active {
      color: var(--#{vars.$bcgov-prefix}-layer-selected-inverse);
    }

    path{
      fill: currentColor;
    }

  }
  

}