@use '../../styles/variables' as vars;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.unauthorized-column__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;

  .unauthorized__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .empty-section-icon path {
      fill: colors.$red-60;
      color: colors.$red-60;
    }
  }

}